@import './starability-all.min.css';

#clusterMap {
    width: 100%;
    height: 450px;
}

#campgroundMap {
    width: 100%;
    height: 300px;
}

.mapbox-popup .mapboxgl-popup-content {
    padding: 25px 10px 10px;
}

.cover-container {
    max-width: 75vw;
}

.home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
